.wordlist_container {
  padding: 10px;
  .header {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin: 20px 0px;
  }

  .header_search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    .left_side {
      :global {
        .ant-input-search {
          flex: 1;
        }
        .ant-select {
          flex: 1;
          text-align: left;
        }
      }
      display: flex;
      width: 100%;
      justify-content: start;
      gap: 10px;
    }
    .right_side {
      display: flex;
      width: 100%;
      justify-content: end;
      gap: 10px;
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}
