.form_container {
  :global {
    .ant-form-item .ant-form-item-label {
      text-align: start;
    }
  }
}
.word_container {
  width: 100%;
  .right_side {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 10px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
