.app {
  height: 100vh;
}

.sidebar {
  position: fixed !important;
  height: 100vh;
  z-index: 1000;
  :global {
    .ant-menu {
      height: 100%;
      padding: 10px 0px;
    }
  }
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.siteLayout {
  margin-left: 200px;
}

.mainContent {
  margin: 24px 16px 0;
  overflow: initial;
}

@media (max-width: 992px) {
  .siteLayout {
    margin-left: 0;
  }
}
